<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container max-w-[500px] mx-auto">
    {% block body %}{% endblock %}
    </div>

    <script src="https://cdn.kushkipagos.com/kushki.min.js"></script>
    {% block footer_scripts %}{% endblock %}
  </body>
</html>
