{% extends 'layout.twig' %}

{% block body %}
    <h1 class="font-bold text-xl text-center uppercase underline mb-6">Suscripciones</h1>

    <div>
        <pre class="bg-gray-900 text-white p-4 overflow-auto">{{ payload }}</pre>
    </div>
{% endblock %}
